/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Corpo da página */
  body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
    padding: 20px;
  }
  
  /* Cabeçalho */
  header {
    background-color: var(--cor-principal);
    color: var(--cor-fundo-2);
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 2em;
  }
  
  /* Menu de navegação */
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #C73659;
    padding: 10px;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: var(--cor-fundo-2);
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Seções principais */
  main {
    margin: 30px auto;
    max-width: 900px;
    background-color: var(--cor-fundo-2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  main h2 {
    color: var(--cor-principal);
    margin-bottom: 10px;
  }
  
  main p {
    margin-bottom: 20px;
  }
  
  /* Rodapé */
  footer {
    text-align: center;
    padding: 15px;
    background-color: var(--cor-principal);
    color: var(--cor-fundo-2);
    margin-top: 40px;
  }
  