:root{
    --cor-principal: #78142a;
    --cor-secundaria: #C73659;
    --cor-fundo: #EEEEEE ;
    --cor-fundo-2: #fff;
    --cor-texto: #151515;
    --fonte-texto: Noto Serif;
    --fonte-texto-2: NewsReader;
    --fonte-texto-3: Imperial Script;
}